.logo {
    left: 0;
}

nav {
    float: right;
    margin-right: 70px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navli {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

nav a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: green;
    position: absolute;
    bottom: 10;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::after {
    width: 100%;
}

.dropdown-menu li {
    list-style: none;
}

.menu-icon, a span {
    display: none;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    .menu-icon, a span {
        display: inline-block;
    }
}